<h1>New Tournament</h1>
<hr>
<div class="col-md-6">
  <form #newTournamentForm="ngForm" (ngSubmit)="saveTournament(newTournamentForm.value)" autocomplete="off" novalidate>
    <div class="form-group" [ngClass]="{'error': newTournamentForm.controls.league?.invalid && newTournamentForm.controls.league?.touched}">
      <label for="tournamentLeague">League Name:</label>
      <em *ngIf="newTournamentForm.controls.league?.invalid && (newTournamentForm.controls.league?.touched)">Required</em>
      <input (ngModel)="newTournament.league" name="league" required id="league" type="text" class="form-control" placeholder="Name of your league..." />
    </div>
    <div class="form-group" [ngClass]="{'error': newTournamentForm.controls.course?.invalid && newTournamentForm.controls.course?.touched}">
      <label for="tournamentCourse">Course Name:</label>
      <em *ngIf="newTournamentForm.controls.course?.invalid && (newTournamentForm.controls.course?.touched)">Required</em>
      <input (ngModel)="newTournament.course" name="course" required id="course" type="text" class="form-control" placeholder="Course Name..." />
    </div>
    <div class="form-group" [ngClass]="{'error': newTournamentForm.controls.date?.invalid && newTournamentForm.controls.date?.touched}">
      <label for="tournamentDate">Tournament Date:</label>
      <em *ngIf="newTournamentForm.controls.date?.invalid && (newTournamentForm.controls.date?.touched)">Required</em>
      <input (ngModel)="newTournament.date" name="date" required id="tournamentDate" type="text" class="form-control" placeholder="format (mm/dd/yyyy)..." />
    </div>
    <div class="form-group" [ngClass]="{'error': newTournamentForm.controls.time?.invalid && newTournamentForm.controls.time?.touched}">
      <label for="tournamentTime">Tournament Time:</label>
      <em *ngIf="newTournamentForm.controls.time?.invalid && (newTournamentForm.controls.time?.touched)">Required</em>
      <input (ngModel)="newTournament.time" name="time" required id="tournamentTime" type="text" class="form-control" placeholder="start and end time..." />
    </div>

    <div ngModelGroup="location">
        <div class="form-group">
        <label for="address">Tournament Location:</label>
            <input (ngModel)="newTournament.location.address" name="address" id="address" type="text" class="form-control" placeholder="Address of Tournament..." />
        </div>
        <div class="row">
        <div class="col-md-6">
            <input (ngModel)="newTournament.location.city" name="city" id="city" type="text" class="form-control" placeholder="City..." />
        </div>
        <div class="col-md-6" >
            <input (ngModel)="newTournament.location.phone" name="phone" id="phone" type="text" class="form-control" placeholder="Phone Number..." />
        </div>
        </div>
    </div>

    <div class="form-group" [ngClass]="{'error': newTournamentForm.controls.imageUrl?.invalid && newTournamentForm.controls.imageUrl?.touched}">
      <label for="imageUrl">Image:</label>
      <em *ngIf="newTournamentForm.controls.imageUrl?.invalid && newTournamentForm.controls.imageUrl?.touched && newTournamentForm.controls.imageUrl?.errors.required">Required</em>
      <em *ngIf="newTournamentForm.controls.imageUrl?.invalid && newTournamentForm.controls.imageUrl?.touched  && newTournamentForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>
      <input (ngModel)="newTournament.imageUrl" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control" placeholder="url of image..." />
      <img [src]="newTournamentForm.controls.imageUrl?.value" *ngIf="newTournamentForm.controls.imageUrl?.valid"/>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" [disabled]="newTournamentForm.invalid" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>
